/* #id1{
    width: 55%;
} */
 /* .green{
    color: green;
 }
 .underline{
    text-decoration: underline black wavy;
 } */
  /* .Red{
   color: red;
  }
  .blue{
   color: blue;
  }
  .border{
   border: 4px solid black;
   background-color: pink;
   width: 400px;
   height: 200px;
  } */
   /* body{
      text-align: center;
   }
   div{
      height: 150px;
      width: 600px;
      border:2px solid black;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center; 
      margin-left: 430px;
   } */
    .delete{
      font-size: 10px;
      height: 14px;
      width: 40px;
    }
     